divImageHolder {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

divImageItem {
    display: inline-block;
    height: 150px;
    margin: 0 1em 1em 0;
    position: relative;
    width: 150px;
}

span.text-content {
    background: rgba(0,0,0,0.5);
    color: white;
    display: table;
    height: 150px;
    position: absolute;
    top: 0;
    width: 150px;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
    border-radius:5px;
    margin-bottom:20px;
}

span.text-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}



span.text-content:hover {
    opacity: 1;
}
.divImageItem img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
}