@{Layout = "_Layout";}
@{ var user = (VPM.Models.mUser)ViewBag.user;}


@*switch*@
<link href="~/assets/css/switch.css" rel="stylesheet" />
@*alerts*@
<script src="~/assets/libs/jquery_alerts/jquery-confirm.min.js"></script>
<link href="~/assets/libs/jquery_alerts/jquery-confirm.min.css" rel="stylesheet" />
@*validate*@
<script src="~/assets/libs/validate/jquery_validator/jquery.validate.js"></script>


@if (ViewBag.msg != null && ViewBag.msg != "")
{
    <script>
        $.alert({
            title: "Information",
            content: "@ViewBag.msg",
            type:"@ViewBag.type"
        });
    </script>

}

<form id="fpassword" action="/Admin/ChangePassword" method="POST" style="color:red;">
    <div class="row">
        <div class="col-md-12">
            <div class="card bshadow">
                <div class="card-header _active">Change Password</div>@*panel heading*@
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="black">New Password</label>
                                <input type="password" name="password" id="password" class="form-control" required />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="black">Confirm</label>
                                <input type="password" name="password2" id="password2" class="form-control" required />
                            </div>
                        </div>
                    </div>


                </div>@*panel content*@
                <div class="card-footer">
                    <button type="submit" class="btn btn-outline-danger _active">SAVE</button>
                </div>@*panel footer*@
            </div>@*panel*@
        </div>@*col-md-12*@
    </div>@*row*@
</form>

<script>
    $(document).ready(function () { 

        $("#fpassword").validate({
            rules: {
                password: "required",
                password2: {
                    equalTo: "#password"
                }
            }
        });
    });
    
</script>