@{Layout = "_Layout";}

@*breadcrumbs*@
<link href="~/assets/css/breadcrumbs.css" rel="stylesheet" />
<script src="~/assets/js/jquery.backstretch.min.js"></script>
<div class="container" style="padding:28px!important;">
    <div class="row">
        <div class="col-md-12" style="background-color:lightgrey;padding:20px;border-radius:5px;width:100%!important;color:black;">
            <h2>About us</h2>

            We are built place professionals with the best technological, technical and managerial knowledge to deliver to you high quality services, so as to keep the health of your properties, homes and offices intact while also delivering all our services in a timely manner
            (Porchlyt allows you to manage your property from anywhere). We also serve the full lifecycle of owning and living in a home: buying, selling, renting, financing, remodeling and more.
            <br />
            <br />

            <h3>Registration is simple</h3>
            @* <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Vehicles</a></li>
            <li><a href="#">Vans</a></li>
            <li><a href="#">Camper Vans</a></li>
            <li><a href="#">1989 VW Westfalia Vanagon</a></li>
        </ul>*@
            <div class="" style="margin-left:0!important;">
                <ul class="steps steps-5">
                    <li><a href="javascript:void(0);" title=""><em>Step 1: Register your property with us</em><span></span></a></li>
                    <li><a href="javascript:void(0);" title=""><em>Step 2: Upload Title Deeds</em><span></span></a></li>
                    <li class="current"><a href="javascript:void(0);" title=""><em>Step 3: Upload Images</em><span></span></a></li>
                    <li><a href="javascript:void(0);" title=""><em style="color:#000;">Step 4: Set terms and conditions</em><span></span></a></li>
                    <li><a href="javascript:void(0);" title=""><em style="color:#000;">Step 5: Sit back</em><span></span></a></li>
                </ul>
            </div>

            @* <ol class="arrows">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Clients</a></li>
            <li><a href="#">Contact Us</a></li>
        </ol>
            *@

            <br />
            <a href="/home/Join" class="btn btn-primary">Sign Up Now</a>
        </div>@*col-md-12*@
    </div>@*row*@
</div>@*container*@

<script>
//    $.backstretch("/assets/img/property1.jpg");
    $.backstretch("/assets/img/bg_services.jpg");
</script>