<link href="~/assets/libs/simplex_theme/simplex.css" rel="stylesheet" />
<script src="~/assets/js/jquery.min.js"></script>
<link href="~/assets/libs/jquery_alerts/jquery-confirm.min.css" rel="stylesheet" />
<script src="~/assets/libs/jquery_alerts/jquery-confirm.min.js"></script>
<link href="~/assets/libs/busyload/bl.css" rel="stylesheet" />
<script src="~/assets/libs/busyload/bl.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/assets/js/jquery.backstretch.min.js"></script>
<title>
    @ViewBag.title
</title>
<style>
    .login-page {
        width: 360px;
        padding: 8% 0 0;
        margin: auto;
    }

    .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

        .form input {
            font-family: "Roboto", sans-serif;
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }

        .form button {
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            outline: 0;
            background: #4CAF50;
            width: 100%;
            border: 0;
            padding: 15px;
            color: #FFFFFF;
            font-size: 14px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
        }

            .form button:hover, .form button:active, .form button:focus {
                background: #43A047;
            }

        .form .message {
            margin: 15px 0 0;
            color: #b3b3b3;
            font-size: 12px;
        }

            .form .message a {
                color: #4CAF50;
                text-decoration: none;
            }

        .form .register-form {
            display: none;
        }

    ._container {
        position: relative;
        z-index: 1;
        max-width: 300px;
        margin: 0 auto;
    }

        ._container:before, ._container:after {
            content: "";
            display: block;
            clear: both;
        }

        ._container .info {
            margin: 50px auto;
            text-align: center;
        }

            ._container .info h1 {
                margin: 0 0 15px;
                padding: 0;
                font-size: 36px;
                font-weight: 300;
                color: #1a1a1a;
            }

            ._container .info span {
                color: #4d4d4d;
                font-size: 12px;
            }

                ._container .info span a {
                    color: #000000;
                    text-decoration: none;
                }

                ._container .info span .fa {
                    color: #EF3B3A;
                }

    body {
        background: #fff; /* fallback for old browsers */
        /* background: -webkit-linear-gradient(right, #fff, #8DC26F);
        background: -moz-linear-gradient(right, #fff, #8DC26F);
        background: -o-linear-gradient(right, #76b852, #8DC26F);
        background: linear-gradient(to left, #76b852, #8DC26F);*/
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    label {
        color: red !important;
    }
</style>


@*js validater*@
<script src="~/assets/libs/validate/jquery_validator/jquery.validate.js"></script>
<script src="~/assets/libs/validate/jquery_validator/additional-methods.js"></script>
@*page script*@
<script src="~/viewmodels/login/login.js"></script>


@if (ViewBag.msg != null)
{
    <script>
        $.alert({
            title: "Information",
            content: "@ViewBag.msg",
            type:"@ViewBag.type"

        });
    </script>
}

<div class="login-page">
    <div class="form">
        <h5>Client</h5>
        <h4>Reset your password</h4>
        <h6>Enter your email</h6>
        <form class="login-form" method="post" action="/home/forgotpassword2" id="flog">
            <input type="email" placeholder="email" name="email" id="email" required class="black" />
            <button type="submit" style="background:red;">Submit</button>
            <p class="message" style="color:black!important;"> <a href="/Home" style="color:black!important;">Back</a></p>
        </form>
    </div>
</div>
<br />

<script>
    $(document).ready(function () {
        $("#flog").validate();
    });

    $.backstretch("/assets/img/password1.jpg");
</script>

