@{Layout = "_Layout";}


<div class="container" style="padding:28px!important;">
    <div class="row">
        <div class="col-md-3" style="background-color:lightgrey;padding:20px;border-radius:5px;color:black;margin:10px!important;">
            <h2>Real time property monitoring</h2>
            We all have our busy schedules and as dear as our property are to us, we may not have the full potential to keep it structurally and aesthetically in shape at all time. KVPM assures you of a real time access to your property from anywhere in the world as we provide you an all integrated dashboard on our platform which gives you instant access and up-to-date information about your property with full details (structural health, tenancy management, income from property, minor and major maintenance and repair needs, general assessment of property and cost implications) for a well informed decision.
            Kindly follow the link below to register your property and give your properties the perfect management it deserves.


        </div>@*col-md-3*@

        <div class="col-md-3" style="background-color:lightgrey;padding:20px;border-radius:5px;color:black;margin:10px!important;">
            <h2>
                Structural Health Assessment And Routine Property Inspection
            </h2>
            Have you wondered why so many buildings/offices are still vacant and unoccupied?  Yes it may be that the property was overvalued or that it does not meet the customers demand. The life of a property tend to deteriorate faster than usual due to lack of maintenance and most times most maintenance are left till the later stage where it will rather cost more to repair or maintain. To keep your property in good shape, there is always need for a routine structural health assessment, to determine at what point you should carry out maintenance and repairs on your property. Allow KVPM to give your property a longer life, bring you great people and let you make more income on your property.
            Kindly follow the link below to register your property and give your properties the perfect management it deserves.

            <br />
            <br />
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">View inspection rates</button>
        </div>@*col-md-3*@


        <div class="col-md-3" style="background-color:lightgrey;padding:20px;border-radius:5px;color:black;margin:10px!important;">
            <h2>
                Maintenance and Repairs
            </h2>
            KVPM provides an all integrated system that allows clients (Tenants, house owners, office occupants, etc.) to request for specific repairs. Out of our pool of professionals we will send someone that will immediately attend to all your maintenance and repair needs.

        </div>@*col-md-3*@

        <div class="col-md-3" style="background-color:lightgrey;padding:20px;border-radius:5px;color:black;margin:10px!important;">
            <h2>
                Property Advertisement
            </h2>
            At KVPM we only advertise structurally up to date properties with a structural health assessment result above 8.0. DO you own a property that could meet our standard and want quicker sales? Allow us inspect and give our clients and customers the best that your property can offer them.
            Register with us and we are in business

        </div>@*col-md-3*@

    </div>@*row*@

   



</div>@*container*@



<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header.">
                <button type="button" class="close" data-dismiss="modal" style="margin:10px!important;">&times;</button>
            </div>
            <div class="modal-body">

                <h4>Bungalow</h4>
                <div class="row">
                    <div class="col-md-12">
                        <table style="width:100%!important;" class="table">
                            <thead>
                                <tr>
                                    <th>Duration</th>
                                    <th>General inspection rates</th>
                                    <th>Basic Inspection rates</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Monthly (12 times/year)</td>
                                    <td>150,000 naira</td>
                                    <td>100,000 naira</td>
                                </tr>


                                <tr>
                                    <td>Quarterly (3 times/year)</td>
                                    <td>80,000 naira</td>
                                    <td>60,000 naira</td>
                                </tr>

                                <tr>
                                    <td>Biannually (twice/year)</td>
                                    <td>60,000 naira</td>
                                    <td>50,000 naira</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>

                <hr />

                <h4>Duplex</h4>
                <div class="row">
                    <div class="col-md-12">
                        <table style="width:100%!important;" class="table">
                            <thead>
                                <tr>
                                    <th>Duration</th>
                                    <th>General inspection rates</th>
                                    <th>Basic Inspection rates</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Monthly (12 times/year)</td>
                                    <td>350,000 naira</td>
                                    <td>250,000 naira</td>
                                </tr>


                                <tr>
                                    <td>Quarterly (3 times/year)</td>
                                    <td>120,000 naira</td>
                                    <td>300,000 naira</td>
                                </tr>

                                <tr>
                                    <td>Biannually (twice/year)</td>
                                    <td>200,000 naira</td>
                                    <td>100,000 naira</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>


                <hr />

                <h4>Commercial Structures</h4>
                <div class="row">
                    <div class="col-md-12">
                        <table style="width:100%!important;" class="table">
                            <thead>
                                <tr>
                                    <th>Duration</th>
                                    <th>General inspection rates</th>
                                    <th>Basic Inspection rates</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Monthly (12 times/year)</td>
                                    <td>800,000 naira</td>
                                    <td>400,000 naira</td>
                                </tr>


                                <tr>
                                    <td>Quarterly (3 times/year)</td>
                                    <td>250,000 naira</td>
                                    <td>600,000 naira</td>
                                </tr>

                                <tr>
                                    <td>Biannually (twice/year)</td>
                                    <td>300,000 naira</td>
                                    <td>200,000 naira</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>



            </div>
        </div>

    </div>
</div>






<script>
    $.backstretch("/assets/img/bg_services.jpg");
</script>